@media all and (min-width: 0px) {
  .form {
    display: flex;
    padding-top: 0;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    position: relative;
    flex-wrap: wrap;

    .firstInputs {
      display: flex;
      align-items: center;
      column-gap: 20px;
      width: 100%;
      justify-content: center;
    }
    .equalAnswer {
      display: flex;
      align-items: center;
      column-gap: 40px;
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    }

    .labelInput {
      display: flex;
      flex-direction: column;
    }
    label {
      font-size: 1rem;
      text-align: center;
      color: $white;
    }
    input {
      width: 65px;
      height: 65px;
      font-size: 2rem;
      text-align: center;
      color: $black;
      background-color: $white;
      border: solid 2px gray;

      &:disabled {
        background-color: $white;
      }
    }
    #answerBox {
      border: solid 1px $lime;
    }
    .operator {
      font-size: 2.5rem;
      margin-top: 15px;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    button.submit {
      border-color: $blue2;
      margin-top: 20px;
    }
    .gif {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translatex(-50%);
      width: 70%;
      z-index: 10000;
    }
  }
}

@media all and (min-width: 961px) {
  .form {
    padding-top: 10%;

    .firstInputs {
      width: auto;
      margin-top: initial;
    }
    .equalAnswer {
      width: auto;
      margin-top: initial;
    }
    input {
      width: 85px;
      height: 85px;
      font-size: 3rem;
    }
    .gif {
      width: auto;
      bottom: auto;
      top:0;
      height: 45vh;
    }
  }
}

@media all and (min-width: 1370px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    position: relative;

    input {
      width: 100px;
      height: 100px;
      font-size: 4rem;
      text-align: center;
      color: $black;
      background-color: $white;
      border: solid 2px gray;
    }
    #answerBox {
      border: solid 1px $lime;
    }
    .operator {
      font-size: 4rem;
    }
  }
}
