
    .flex {
      display: flex;
    }
    button {
      border: solid 5px $orange;
      border-radius: 25px;
      background: white;
      padding: 10px 20px;
      color: $blue2;
      font-size: 20px;
      font-weight: bold;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
     
      
      &.yellowBorder {
        border: solid 5px $yellow;
      }
      &.active {
        border: solid 5px $lime;
      }
    }
