$green:       #3e8389;
$purple:      #893e5c;
$yellowGreen:  #5c893e;
$blue1:       #3e6989;
$blue2:       #3e5c89;
$orange:      #ff7f50;
$orangeBrown: #893e4a;
$yellow:      #ffd700;
$pink:        #8a2be2;
$coral:       #ff6f61;
$lime:          lime; 
$white:         white;
$black:         black;


body {
    background: $green;
}

p, h1, h2, h3, h4, button {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title {
    text-align: center;
}